/ConfigurationsDemo/obj
/ConfigurationsDemo/.vs
/ConfigurationsDemo/bin
/DependencyInjectionDemo/obj
/DependencyInjectionDemo/.vs
/DependencyInjectionDemo/bin
/LoggingDemo/.vs
/LoggingDemo/bin
/LoggingDemo/obj
